<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="dash-background">
        <div class="top-nav">
            <h1 class="">Welcome {{user.first_name}} {{user.last_name}}</h1>
            <div class="profile-nav">
                <a href="/poem/create" class="nav-link">Write a Poem</a>
                <a href="/logout" class="nav-link"><p>Logout</p></a>
            </div>
        </div>
        <h2 class="dash-title">Poem Dashboard</h2>
        <div class="tabs">
            <button class="tab-button" onclick="showTab('tab1')">Tab 1</button>
            <button class="tab-button" onclick="showTab('tab2')">Tab 2</button>
        </div>
        <div id="tab1" class="tab-content">            <!-- TAB 1 -->
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for poem in poems %}
                    <tr>
                        <td>{{poem.id}}</td>
                        <td>{{poem.title}}</td>
                        <td>{{poem.author}}</td>
                        <td>{{poem.genre}}</td>
                        <td>
                            <a href="/poem/{{poem.id}}" class="action-link">View</a>
                            <a href="/poem/edit/{{poem.id}}" class="action-link">Edit</a>
                            <a href="/poem/delete/{{poem.id}}" class="action-link">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="tab2" class="tab-content">            <!-- TAB 2 -->
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for my_poem in my_poems %}
                            <td>{{my_poem.id}}</td>
                            <td>{{my_poem.title}}</td>
                            <td>{{my_poem.author}}</td>
                            <td>{{my_poem.genre}}</td>
                            <td>
                                <a href="###" class="action-link">View</a>
                                <a href="###" class="action-link">Edit</a>
                                <a href="###" class="action-link">Delete</a>
                            </td>
                        {% endfor %}
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dashTable.js') }}"></script>
</body>
</html>