<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@200;400&family=Dancing+Script&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>View Selected Poem</title>
</head>
<body>
    <div class="dash-background">
        <div class="top-nav">
            <a href="/dashboard" class="nav-title"><img src="/../static/img/poems_logo.png" alt="logo_image" class="logo"></a>
            <div class="profile-nav">
                <a href="/logout" class="nav-link">Logout</a>
            </div>
        </div>
        <div class="display-format">
            <div class="display-left-panel">
                <h1>{{poem.title}}</h1>
                <h2>Author: <span style="font-weight: 400;color: rgb(148, 128, 97)">{{poem.author}}</span></h2>
                <h2>Genre: <span style="font-weight: 400;color: rgb(148, 128, 97)">{{poem.genre}}</span></h2>
                {% if session['user_id'] == poem.user.id %}
                <a href="/poem/edit/{{poem.id}}" class="edit-btn">Edit Poem</a>
                {% endif %}
            </div>
            <div class="display-right-panel">
                <div class="text-container">
                    {{poem.poem_text}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>